<p>Hello <strong>{{ name }}</strong>,</p>

<p>We're excited to introduce SnapGram, a dynamic social media platform inspired by Instagram. SnapGram allows you to capture and share life's memorable moments with your friends in real-time.</p>

<p>As a valued user, we invite you to join our vibrant community and experience the following features:</p>

<ul>
  <li>Seamless sharing of photos and videos</li>
  <li>Instant connection with friends and family</li>
  <li>Real-time updates on your feed</li>
  <li>Secure messaging and interaction</li>
</ul>

<p style="color: #cc1111;"><strong>To get started, your OTP is:</strong></p>

<p style="
            margin: 0;
            margin-top: 20px;
            font-size: 40px;
            font-weight: 600;
            letter-spacing: 25px;
            color: #ba3d4f;
          ">{{otp}}</p>

<p>If you didn't request this email, you can safely ignore it.</p>

<p>Thank you for choosing SnapGram!</p>

<p>Best regards,<br>
  The SnapGram Team</p>
